/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Fredoka:wght@300..700&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'League Spartan', sans-serif;
}

/* Navbar Styles */
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
}

nav ul li a:hover {
    color: rgb(180, 175, 175);
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown a.dropdown-toggle {
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 180px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 3px;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(180, 175, 175);
}

.dropdown:hover .dropdown-menu {
    display: block;
}